.wireframe {
  background-color: #121212;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.wireframe .div {
  background-color: #121212;
  overflow: hidden;
  width: 1440px;
  height: 3620px;
  position: relative;
}

.wireframe .overlap {
  position: absolute;
  width: 1814px;
  height: 2332px;
  top: -296px;
  left: 0;
}

.wireframe .overlap-group {
  position: absolute;
  width: 1814px;
  height: 2332px;
  top: 0;
  left: 0;
}

.wireframe .rec {
  position: absolute;
  width: 1088px;
  height: 1371px;
  top: 164px;
  left: 491px;
  background-color: #2e2e2e;
  transform: rotate(24.48deg);
}

.wireframe .rec-2 {
  position: absolute;
  width: 1440px;
  height: 1024px;
  top: 1194px;
  left: 7px;
  background-color: #121212;
}

.wireframe .text-wrapper {
  top: 1995px;
  left: 118px;
  position: absolute;
  width: 347px;
  height: 61px;
  font-family: var(--HEADING-1-font-family);
  font-weight: var(--HEADING-1-font-weight);
  color: #ffffff;
  font-size: var(--HEADING-1-font-size);
  letter-spacing: var(--HEADING-1-letter-spacing);
  line-height: var(--HEADING-1-line-height);
  font-style: var(--HEADING-1-font-style);
}

.wireframe .rec-social-media {
  position: absolute;
  width: 394px;
  height: 248px;
  top: 2084px;
  left: 929px;
}

.wireframe.rec-social-media:hover {
  transform: scale(1.1);
}

.wireframe .text-box-social {
  position: absolute;
  width: 325px;
  height: 115px;
  top: 2181px;
  left: 966px;
}

.wireframe .text-wrapper-2 {
  position: absolute;
  width: 319px;
  height: 51px;
  top: 32px;
  left: 0;
  font-family: var(--PARAGRAF-3-font-family);
  font-weight: var(--PARAGRAF-3-font-weight);
  color: #ffffff;
  font-size: var(--PARAGRAF-3-font-size);
  letter-spacing: var(--PARAGRAF-3-letter-spacing);
  line-height: var(--PARAGRAF-3-line-height);
  font-style: var(--PARAGRAF-3-font-style);
}

.wireframe .text-wrapper-3 {
  position: absolute;
  width: 92px;
  top: 95px;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .text-wrapper-4 {
  position: absolute;
  width: 213px;
  top: 0;
  left: 0;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .social-media-design {
  position: absolute;
  width: 57px;
  height: 57px;
  top: 2116px;
  left: 966px;
}

.wireframe .rec-creative-design {
  position: absolute;
  width: 394px;
  height: 248px;
  top: 2084px;
  left: 523px;
}

.wireframe .text-box-creative {
  position: absolute;
  width: 325px;
  height: 115px;
  top: 2181px;
  left: 561px;
}

.wireframe .text-wrapper-5 {
  position: absolute;
  width: 181px;
  top: 0;
  left: 0;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .creative-design-icon {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 2113px;
  left: 553px;
}

.wireframe .rec-UI-UX-design {
  position: absolute;
  width: 394px;
  height: 248px;
  top: 2084px;
  left: 117px;
}

.wireframe .text-box-UI-UX {
  position: absolute;
  width: 325px;
  height: 115px;
  top: 2181px;
  left: 155px;
}

.wireframe .text-wrapper-6 {
  position: absolute;
  width: 136px;
  top: 0;
  left: 0;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .UI-UX-DESIGN-ICON {
  position: absolute;
  width: 63px;
  height: 63px;
  top: 2113px;
  left: 144px;
}

.wireframe .UI-UX-designer {
  position: absolute;
  width: 416px;
  height: 59px;
  top: 1692px;
  left: 621px;
}

.wireframe .text-wrapper-7 {
  position: absolute;
  width: 233px;
  top: 0;
  left: 0;
  font-family: var(--PARAGRAF-1-font-family);
  font-weight: var(--PARAGRAF-1-font-weight);
  color: #ff004c;
  font-size: var(--PARAGRAF-1-font-size);
  letter-spacing: var(--PARAGRAF-1-letter-spacing);
  line-height: var(--PARAGRAF-1-line-height);
  font-style: var(--PARAGRAF-1-font-style);
}

.wireframe .text-wrapper-8 {
  position: absolute;
  width: 412px;
  top: 29px;
  left: 0;
  font-family: var(--PARAGRAF-1-font-family);
  font-weight: var(--PARAGRAF-1-font-weight);
  color: #ffffff;
  font-size: var(--PARAGRAF-1-font-size);
  letter-spacing: var(--PARAGRAF-1-letter-spacing);
  line-height: var(--PARAGRAF-1-line-height);
  font-style: var(--PARAGRAF-1-font-style);
}

.wireframe .creative-designer {
  position: absolute;
  width: 414px;
  height: 55px;
  top: 1769px;
  left: 621px;
}

.wireframe .overlap-2 {
  position: relative;
  height: 55px;
}

.wireframe .group {
  position: absolute;
  width: 414px;
  height: 30px;
  top: 25px;
  left: 0;
}

.wireframe .text-wrapper-9 {
  position: absolute;
  width: 412px;
  top: 0;
  left: 0;
  font-family: var(--PARAGRAF-1-font-family);
  font-weight: var(--PARAGRAF-1-font-weight);
  color: #ffffff;
  font-size: var(--PARAGRAF-1-font-size);
  letter-spacing: var(--PARAGRAF-1-letter-spacing);
  line-height: var(--PARAGRAF-1-line-height);
  font-style: var(--PARAGRAF-1-font-style);
}

.wireframe .social-media {
  position: absolute;
  width: 414px;
  height: 55px;
  top: 1842px;
  left: 621px;
}

.wireframe .text-wrapper-10 {
  position: absolute;
  width: 133px;
  height: 61px;
  top: 1602px;
  left: 930px;
  font-family: var(--PARAGRAF-1-font-family);
  font-weight: var(--PARAGRAF-1-font-weight);
  color: #ffffff;
  font-size: var(--PARAGRAF-1-font-size);
  text-align: center;
  letter-spacing: var(--PARAGRAF-1-letter-spacing);
  line-height: var(--PARAGRAF-1-line-height);
  font-style: var(--PARAGRAF-1-font-style);
}

.wireframe .text-wrapper-11 {
  position: absolute;
  width: 133px;
  height: 61px;
  top: 1602px;
  left: 756px;
  font-family: var(--PARAGRAF-1-font-family);
  font-weight: var(--PARAGRAF-1-font-weight);
  color: #ffffff;
  font-size: var(--PARAGRAF-1-font-size);
  text-align: center;
  letter-spacing: var(--PARAGRAF-1-letter-spacing);
  line-height: var(--PARAGRAF-1-line-height);
  font-style: var(--PARAGRAF-1-font-style);
}

.wireframe .text-wrapper-12 {
  position: absolute;
  width: 95px;
  height: 61px;
  top: 1602px;
  left: 598px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ff004c;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .text-wrapper-13 {
  position: absolute;
  width: 347px;
  height: 61px;
  top: 1371px;
  left: 621px;
  font-family: var(--HEADING-1-font-family);
  font-weight: var(--HEADING-1-font-weight);
  color: #ffffff;
  font-size: var(--HEADING-1-font-size);
  letter-spacing: var(--HEADING-1-letter-spacing);
  line-height: var(--HEADING-1-line-height);
  font-style: var(--HEADING-1-font-style);
}

.wireframe .in-transitioning-to {
  position: absolute;
  width: 719px;
  top: 1450px;
  left: 621px;
  font-family: var(--PARAGRAF-1-font-family);
  font-weight: var(--PARAGRAF-1-font-weight);
  color: #ffffff;
  font-size: var(--PARAGRAF-1-font-size);
  letter-spacing: var(--PARAGRAF-1-letter-spacing);
  line-height: var(--PARAGRAF-1-line-height);
  font-style: var(--PARAGRAF-1-font-style);
}

.wireframe .img {
  position: absolute;
  width: 450px;
  height: 525px;
  top: 1372px;
  left: 118px;
}

.wireframe .foto-reza {
  position: absolute;
  width: 448px;
  height: 669px;
  top: 1228px;
  left: 120px;
}

.wireframe .p {
  position: absolute;
  width: 432px;
  top: 807px;
  left: 118px;
  font-family: var(--PARAGRAF-2-font-family);
  font-weight: var(--PARAGRAF-2-font-weight);
  color: #ffffff;
  font-size: var(--PARAGRAF-2-font-size);
  letter-spacing: var(--PARAGRAF-2-letter-spacing);
  line-height: var(--PARAGRAF-2-line-height);
  font-style: var(--PARAGRAF-2-font-style);
}

.wireframe .reza-virgiawan {
  position: absolute;
  width: 411px;
  top: 721px;
  left: 118px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .span {
  color: #ffffff;
}

.wireframe .text-wrapper-14 {
  color: #ff004c;
}

.wireframe .foto {
  position: absolute;
  width: 650px;
  height: 822px;
  top: 429px;
  left: 706px;
}

.wireframe .navbar {
  position: absolute;
  width: 1440px;
  height: 75px;
  top: 301px;
  left: 0;
}

.wireframe .text-wrapper-15 {
  left: 713px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ff004c;
  position: absolute;
  top: 18px;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

.wireframe .text-wrapper-16 {
  left: 825px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #f9f9f9;
  position: absolute;
  top: 18px;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

.wireframe .text-wrapper-17 {
  left: 935px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #f9f9f9;
  position: absolute;
  top: 18px;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

.wireframe .text-wrapper-18 {
  left: 1073px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #f9f9f9;
  position: absolute;
  top: 18px;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

.wireframe .text-wrapper-19 {
  position: absolute;
  top: 18px;
  left: 1224px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #f9f9f9;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .virgiawan-icon {
  position: absolute;
  width: 231px;
  height: 45px;
  top: 23px;
  left: 111px;
  object-fit: cover;
}

.wireframe .text-wrapper-20 {
  position: absolute;
  width: 152px;
  height: 25px;
  top: 690px;
  left: 118px;
  font-family: var(--PARAGRAF-2-font-family);
  font-weight: var(--PARAGRAF-2-font-weight);
  color: #ffffff;
  font-size: var(--PARAGRAF-2-font-size);
  letter-spacing: var(--PARAGRAF-2-letter-spacing);
  line-height: var(--PARAGRAF-2-line-height);
  white-space: nowrap;
  font-style: var(--PARAGRAF-2-font-style);
}

.wireframe .linkedin-icon {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 895px;
  left: 120px;
}

.wireframe .linkedin-icon:hover {
  opacity: 0.8;
}

.wireframe .x-icon {
  position: absolute;
  width: 44px;
  height: 38px;
  top: 898px;
  left: 190px;
}

.wireframe .x-icon:hover {
  opacity: 0.8;
}

.wireframe .instagram-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 897px;
  left: 261px;
}

.wireframe .instagram-icon:hover {
  opacity: 0.8;
}
.wireframe .footer {
  display: flex;
  width: 1440px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  position: absolute;
  top: 3520px;
  left: 0;
  background-color: #2e2e2e;
}

.footer {
  padding: 2rem 0;
  background: #2e2e2e;
  color: #f9f9f9;
  text-align: center;
}

.wireframe .text-wrapper-21 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.wireframe .div-wrapper {
  position: relative;
  width: 189px;
  height: 48px;
  background-color: #ff004c;
  border-radius: 10px;
}

.wireframe .text-wrapper-22 {
  position: absolute;
  width: 134px;
  top: 9px;
  left: 27px;
  font-family: var(--PARAGRAF-1-font-family);
  font-weight: var(--PARAGRAF-1-font-weight);
  color: #ffffff;
  font-size: var(--PARAGRAF-1-font-size);
  text-align: center;
  letter-spacing: var(--PARAGRAF-1-letter-spacing);
  line-height: var(--PARAGRAF-1-line-height);
  font-style: var(--PARAGRAF-1-font-style);
}

.wireframe .overlap-3 {
  position: relative;
  width: 700px;
  height: 65px;
  background-color: #2e2e2e;
  border-radius: 15px;
}

.wireframe .text-wrapper-23 {
  width: 134px;
  top: 18px;
  position: absolute;
  left: 27px;
  font-family: var(--PARAGRAF-1-font-family);
  font-weight: var(--PARAGRAF-1-font-weight);
  color: #777777;
  font-size: var(--PARAGRAF-1-font-size);
  letter-spacing: var(--PARAGRAF-1-letter-spacing);
  line-height: var(--PARAGRAF-1-line-height);
  font-style: var(--PARAGRAF-1-font-style);
}

.wireframe .text-wrapper-24 {
  width: 134px;
  top: 16px;
  position: absolute;
  left: 27px;
  font-family: var(--PARAGRAF-1-font-family);
  font-weight: var(--PARAGRAF-1-font-weight);
  color: #777777;
  font-size: var(--PARAGRAF-1-font-size);
  letter-spacing: var(--PARAGRAF-1-letter-spacing);
  line-height: var(--PARAGRAF-1-line-height);
  font-style: var(--PARAGRAF-1-font-style);
}

.wireframe .overlap-4 {
  position: relative;
  width: 700px;
  height: 200px;
  background-color: #2e2e2e;
  border-radius: 15px;
}

.wireframe .text-wrapper-25 {
  width: 175px;
  top: 19px;
  position: absolute;
  left: 27px;
  font-family: var(--PARAGRAF-1-font-family);
  font-weight: var(--PARAGRAF-1-font-weight);
  color: #777777;
  font-size: var(--PARAGRAF-1-font-size);
  letter-spacing: var(--PARAGRAF-1-letter-spacing);
  line-height: var(--PARAGRAF-1-line-height);
  font-style: var(--PARAGRAF-1-font-style);
}

.wireframe .button-download-CV {
  position: absolute;
  width: 192px;
  height: 48px;
  top: 3363px;
  left: 168px;
}

.wireframe .overlap-5 {
  position: relative;
  width: 190px;
  height: 48px;
}

.wireframe .rec-download-CV {
  position: absolute;
  width: 189px;
  height: 48px;
  top: 0;
  left: 1px;
  background-color: #ff004c;
  border-radius: 10px;
}

.wireframe .text-wrapper-26 {
  position: absolute;
  width: 190px;
  top: 9px;
  left: 0;
  font-family: var(--PARAGRAF-1-font-family);
  font-weight: var(--PARAGRAF-1-font-weight);
  color: #ffffff;
  font-size: var(--PARAGRAF-1-font-size);
  text-align: center;
  letter-spacing: var(--PARAGRAF-1-letter-spacing);
  line-height: var(--PARAGRAF-1-line-height);
  font-style: var(--PARAGRAF-1-font-style);
}

.wireframe .SOSMED {
  position: absolute;
  width: 211px;
  height: 73px;
  top: 3252px;
  left: 153px;
}

.wireframe .group-2 {
  width: 290px;
  left: 65px;
  position: absolute;
  height: 30px;
  top: 8px;
}

.wireframe .text-wrapper-27 {
  position: absolute;
  width: 288px;
  top: 0;
  left: 0;
  font-family: var(--PARAGRAF-1-font-family);
  font-weight: var(--PARAGRAF-1-font-weight);
  color: #ffffff;
  font-size: var(--PARAGRAF-1-font-size);
  letter-spacing: var(--PARAGRAF-1-letter-spacing);
  line-height: var(--PARAGRAF-1-line-height);
  font-style: var(--PARAGRAF-1-font-style);
}

.wireframe .img-2 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 0;
  left: 0;
}

.wireframe .group-3 {
  width: 316px;
  left: 64px;
  position: absolute;
  height: 30px;
  top: 8px;
}

.wireframe .text-wrapper-28 {
  position: absolute;
  width: 314px;
  top: 0;
  left: 0;
  font-family: var(--PARAGRAF-1-font-family);
  font-weight: var(--PARAGRAF-1-font-weight);
  color: #ffffff;
  font-size: var(--PARAGRAF-1-font-size);
  letter-spacing: var(--PARAGRAF-1-letter-spacing);
  line-height: var(--PARAGRAF-1-line-height);
  font-style: var(--PARAGRAF-1-font-style);
}

.wireframe .text-wrapper-29 {
  position: absolute;
  width: 347px;
  height: 61px;
  top: 3040px;
  left: 169px;
  font-family: var(--HEADING-1-font-family);
  font-weight: var(--HEADING-1-font-weight);
  color: #ffffff;
  font-size: var(--HEADING-1-font-size);
  letter-spacing: var(--HEADING-1-letter-spacing);
  line-height: var(--HEADING-1-line-height);
  font-style: var(--HEADING-1-font-style);
}

.wireframe .button-load-more {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 214px;
  height: 65px;
  top: 2924px;
  left: 614px;
}

.wireframe .overlap-6 {
  position: relative;
  width: 212px;
  height: 65px;
  background-color: #ff004c;
  border-radius: 15px;
}

.wireframe .text-wrapper-30 {
  position: absolute;
  width: 133px;
  top: 14px;
  left: 40px;
  font-family: var(--PARAGRAF-2-font-family);
  font-weight: var(--PARAGRAF-2-font-weight);
  color: #ffffff;
  font-size: var(--PARAGRAF-2-font-size);
  text-align: center;
  letter-spacing: var(--PARAGRAF-2-letter-spacing);
  line-height: var(--PARAGRAF-2-line-height);
  font-style: var(--PARAGRAF-2-font-style);
}

.wireframe .text-wrapper-31 {
  top: 2145px;
  left: 546px;
  text-align: center;
  position: absolute;
  width: 347px;
  height: 61px;
  font-family: var(--HEADING-1-font-family);
  font-weight: var(--HEADING-1-font-weight);
  color: #ffffff;
  font-size: var(--HEADING-1-font-size);
  letter-spacing: var(--HEADING-1-letter-spacing);
  line-height: var(--HEADING-1-line-height);
  font-style: var(--HEADING-1-font-style);
}

.wireframe .my-project-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 18px;
  padding: 10px;
  position: absolute;
  top: 2207px;
  left: 336px;
}

.wireframe .text-wrapper-32 {
  position: relative;
  width: 226px;
  height: 61px;
  margin-top: -1px;
  font-family: var(--HEADING-3-font-family);
  font-weight: var(--HEADING-3-font-weight);
  color: #ffffff;
  font-size: var(--HEADING-3-font-size);
  text-align: center;
  letter-spacing: var(--HEADING-3-letter-spacing);
  line-height: var(--HEADING-3-line-height);
  font-style: var(--HEADING-3-font-style);
}

.wireframe .text-wrapper-33 {
  position: relative;
  width: 270px;
  height: 61px;
  margin-top: -1px;
  font-family: var(--HEADING-3-font-family);
  font-weight: var(--HEADING-3-font-weight);
  color: #ffffff;
  font-size: var(--HEADING-3-font-size);
  text-align: center;
  letter-spacing: var(--HEADING-3-letter-spacing);
  line-height: var(--HEADING-3-line-height);
  font-style: var(--HEADING-3-font-style);
}

.wireframe .text-wrapper-34 {
  position: relative;
  width: 215px;
  height: 61px;
  margin-top: -1px;
  font-family: var(--HEADING-3-font-family);
  font-weight: var(--HEADING-3-font-weight);
  color: #ffffff;
  font-size: var(--HEADING-3-font-size);
  text-align: center;
  letter-spacing: var(--HEADING-3-letter-spacing);
  line-height: var(--HEADING-3-line-height);
  font-style: var(--HEADING-3-font-style);
}

.wireframe .a {
  position: absolute;
  width: 350px;
  height: 240px;
  top: 2340px;
  left: 169px;
  object-fit: cover;
  border-radius: 20px;
}

.wireframe .a-2 {
  position: absolute;
  width: 350px;
  height: 240px;
  top: 2340px;
  left: 545px;
  object-fit: cover;
  border-radius: 20px;
}

.wireframe .a-3 {
  position: absolute;
  width: 350px;
  height: 240px;
  top: 2340px;
  left: 921px;
  object-fit: cover;
  border-radius: 20px;
}

.wireframe .b {
  position: absolute;
  width: 350px;
  height: 240px;
  top: 2632px;
  left: 171px;
  object-fit: cover;
  border-radius: 20px;
}

.wireframe .b-2 {
  position: absolute;
  width: 350px;
  height: 240px;
  top: 2632px;
  left: 545px;
  object-fit: cover;
  border-radius: 20px;
}

.wireframe .b-3 {
  position: absolute;
  width: 350px;
  height: 240px;
  top: 2632px;
  left: 921px;
  object-fit: cover;
  border-radius: 20px;
}

.contact-container {
  position: absolute;
  bottom: 150px;
  right: 50%; /* changed to 50% to center the form */
  transform: translateX(50%); /* add this to center the form */
  z-index: 1;
}

.contact-form {
  background-color: #121212;
  border-radius: 10px;
  width: 1050px; /* adjust the width to your liking */
  margin: 0 auto; /* add this to center the form horizontally */
  padding: 20px; /* add some padding to the form */
  box-sizing: border-box; /* include padding in the width calculation */
}

.contact-form h2 {
  margin-top: 0;
  color: #f9f9f9;
  text-align: center;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 0px;
}

.contact-form textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: vertical;
  margin-right: 20px;
}

.contact-form button[type="submit"] {
  background-color: #ff004c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button[type="submit"]:hover {
  background-color: #ff004c;
  opacity: 80%;
}
